<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.wrupple.muba.event.server.chain.command.impl.JavaSentenceNativeInterface" level="TRACE"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.commons.chain.generic.LookupCommand" level="DEBUG"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.commons.chain.impl.ChainBase" level="DEBUG"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.wrupple.muba.event.server.chain.command.impl.EventDispatcherImpl" level="TRACE"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.wrupple.muba.worker.server.service.impl.FutureChocoVariable" level="TRACE"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.wrupple.muba.worker.server.service.impl.SolverImpl" level="TRACE"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.wrupple.muba.worker.server.service.impl.ChocoRunnerImpl" level="TRACE"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>